.headerMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    // animation-duration: 300ms;
}
.headerMenu-dialog-order {
    padding: 0 15px 0 15px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    margin-top: 340px;
    //margin: 0 20px;
    // max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // -webkit-animation-name: animatetop;
    // -webkit-animation-duration: 0.4s;
    // animation-name: slide-in;
    // animation-duration: 0.5s;
    background: #ffffff;
    //border-radius: 8px;
}

.headerMenu__box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.headerMenu__call {
    .headerMenu__phone {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        outline: none;
        background: #ffc85e;
        border-radius: 1000px;
    }
    span {
        margin-left: 7px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3f4e65;
        border-bottom: 1px #3f4e65 solid;
    }
}
.headerMenu__siteMenu {
    margin-top: 25px;
    .headerMenu__siteMenu-header {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: #3f4e65;
        margin-bottom: 25px;
    }
    .headerMenu__siteMenu-item {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #3f4e65;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
   
}
.headerMenu__price-btn {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 59px;
    padding: 10px 19px;
    gap: 12px;
    background: #ffc85e;
    border-radius: 79px;
    border: none;
    color: #ffffff;
    font-weight: 700;
    line-height: 17px;
    margin-right: 50px;
}