.dropdownFilter {
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
    .dropdownFilter-name,
    .dropdownFilter-count {
        
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #3f4e65;
    }
    .dropdownFilter-name {
        font-size: 14px;
        margin-left: 10px;
    }
    .dropdownFilter-count {
        font-size: 10px;
        margin-left: 5px;
    }
}
